# Created by .ignore support plugin (hsz.mobi)
### jupyter notebook template
.ipynb_checkpoints/
.idea/
__pycache__/
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen

config.yaml